[submodule ".vim/pack/colors/start/gruvbox"]
	path = .vim/pack/colors/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/pack/syntax/start/vim-surround"]
	path = .vim/pack/syntax/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/syntax/start/auto-pairs"]
	path = .vim/pack/syntax/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule ".vim/pack/syntax/start/vim-polyglot"]
	path = .vim/pack/syntax/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/pack/git/opt/vim-fugitive"]
	path = .vim/pack/git/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
